@using Microsoft.AspNet.Identity
@using DATA.EF

<div class="dropdown">

    <button class="btn btn-default" type="button" id="loginMenu" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-fw fa-user text-dark mr-3"></i></button>
    <ul class="dropdown-menu" aria-labelledby="loginMenu">
        @if (Request.IsAuthenticated)
        {

            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
        <li>
            @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="dropdown-item" })
        </li>
        <li>
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
            }
        }
        else
        {
        <li>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })
        </li>
        <li>
            @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
        </li>
        }
    </ul>
</div>
