
@{
    ViewBag.Title = "Errors";
}

@*<h2>Errors</h2>*@
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span></span>4</h1>
        </div>
        <h2>Oops! Page Not Found</h2>
        <p>Sorry but the page you are looking for does not exist, has been removed, the name has changed or is temporarily unavailable</p>
        <a href="@Url.Action("Index","Home")">Return to homepage</a>
    </div>
</div>

<!-- This templates was made by Colorlib (https://colorlib.com) -->
