/*
Custom Css
*/

body {
    /*background: repeating-linear-gradient(90deg, lightyellow, transparent, yellow, transparent, lightyellow, transparent);*/
    background-color: white;
    /*background: repeating-linear-gradient(120deg, steelblue, transparent, lightyellow, steelblue, transparent,  lightyellow, steelblue, transparent,  lightyellow);    
    background: repeating-linear-gradient(120deg, steelblue, transparent, lightyellow, steelblue, transparent);*/
    /*background: repeating-linear-gradient(45deg, lightsteelblue, transparent);*/
    background: repeating-linear-gradient(180deg, lightsteelblue, lightsteelblue, steelblue, lightsteelblue);
}

.navbar {
    /*background: repeating-linear-gradient(60deg, yellow, blue, transparent, red, transparent, yellow, transparent, blue, yellow, red, transparent, red, yellow, blue, transparent);*/
    /*background: repeating-linear-gradient(30deg, red, transparent, steelblue, transparent, yellow, transparent, yellow, red, transparent, steelblue, transparent);
    background: repeating-linear-gradient(90deg, red, transparent, steelblue, transparent, yellow, transparent, yellow, red, transparent, steelblue, transparent);*/
    background: repeating-linear-gradient(90deg, red, #e5f3f7, steelblue, #e5f3f7, yellow, #e5f3f7);
    background-color: white;
    color: #ffffe0
}

.navbar-icon {
    background: transparent;
}

.catContainer {
    position: relative;
}

.catImage {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.catMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.catContainer:hover .catImage {
    opacity: 0.3;
}

.catContainer:hover .catMiddle {
    opacity: 1;
}

.catText {
    background-color: transparent;
    color: green;
    padding: 16px 32px;
    font-weight: bolder !important;
    font-size: 2em !important;
}
#carousel-main {
    /*background: repeating-linear-gradient(20deg, yellow, transparent, lightyellow, lightyellow, yellow, transparent);*/
    /*background: repeating-linear-gradient(18deg, steelblue, transparent, yellow, transparent, red, transparent, lightyellow, yellow, transparent, steelblue, transparent, yellow, transparent, red, transparent, steelblue);
    background: repeating-linear-gradient(18deg, yellow, transparent, red, transparent, yellow, transparent, steelblue, transparent, yellow, transparent);*/
    /*background: linear-gradient(90deg, transparent, lightyellow, transparent);*/
    background: linear-gradient(90deg, transparent, #e5f3f7, transparent);
    background: linear-gradient(180deg, steelblue,transparent, #e5f3f7, transparent);
    color: darkblue;
    font-weight: 900;
    height: 700px;
}

#template-mo-zay-hero-carousel .carousel-indicators li {
    background-color: navy;
}

#template-mo-zay-hero-carousel .carousel-control-prev i,
#template-mo-zay-hero-carousel .carousel-control-next i {
    color: navy !important;
    opacity: .3;
}
#template-mo-zay-hero-carousel .carousel-control-prev :hover,
#template-mo-zay-hero-carousel .carousel-control-next :hover {
    color: yellow !important;
    opacity: .3;
}

.fa i{
    font-size: large;
}

.filters a {
    /*font-weight: 400 !important;*/
    color: navy;
}

.badgeNumber {
    font-size: .75rem !important;
    background-color: floralwhite !important;
}

.nav-icon fa-fw {
    font-size: x-large;
  
}

.carousel {
    z-index: -1;
}

#templatemo_main_nav .dropdown-menu {
    border: none;
    background-color: transparent;
    padding: 1rem;
    z-index: 4000;
}

#templatemo_main_nav .dropdown .btn {
    font-size: 1.25rem;
}

#templatemo_main_nav .dropdown-menu .dropdown-item {
    font-size: small !important;
    background-color: #e5f3f7;
    font-size: small !important;
    
}
.deleteIcon {
    color: #f72d2d
}
.editIcon {
    color:#149614
}

.footerText, .footerText a {
    font-size: .75rem !important;
}

div#template-mo-zay-hero-carousel {
    position: relative;
    z-index: 1000;
}

#loginForm {
    padding: 20px;
}

/*#indexWrapper {
    max-width: 90vw;
}*/

    #indexWrapper > table {
        box-shadow: darkgray 0px 10px 40px;
    }

    #indexWrapper img {
        max-height: 100px;
        width: auto;
    }

.formContainer {
    border: 3px solid #535ba0;
    box-shadow: 20px 20px darkgray;
    padding: 3em 1em;
    max-width: 75%;
    margin: auto;
}

    .formContainer label {
        padding-top: .5em;
    }

    .formContainer input[type=checkbox] {
        margin-top: .75em;
    }

/*404 Custom Error Page*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

    .notfound .notfound-404 {
        height: 190px;
    }

        .notfound .notfound-404 h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 146px;
            font-weight: 700;
            margin: 0px;
            color: #232323;
        }

            .notfound .notfound-404 h1 > span {
                display: inline-block;
                width: 120px;
                height: 120px;
                background-image: url('../img/emoji.png');
                background-size: cover;
                -webkit-transform: scale(1.4);
                -ms-transform: scale(1.4);
                transform: scale(1.4);
                z-index: -1;
            }

    .notfound h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
        color: #232323;
    }

    .notfound p {
        font-family: 'Montserrat', sans-serif;
        color: #787878;
        font-weight: 300;
    }

    .notfound a {
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        padding: 12px 30px;
        font-weight: 700;
        background-color: #f99827;
        color: #fff;
        border-radius: 40px;
        text-decoration: none;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .notfound a:hover {
            opacity: 0.8;
        }

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 115px;
    }

        .notfound .notfound-404 h1 {
            font-size: 86px;
        }

            .notfound .notfound-404 h1 > span {
                width: 86px;
                height: 86px;
            }
}
