/*
Custom Css
*/

body {
    background: repeating-linear-gradient(90deg, lightyellow, transparent, yellow, transparent, lightyellow, transparent);
}

.navbar {
    /*background: repeating-linear-gradient(60deg, yellow, blue, transparent, red, transparent, yellow, transparent, blue, yellow, red, transparent, red, yellow, blue, transparent);*/
    background: repeating-linear-gradient(30deg, red, transparent, blue, transparent, yellow, transparent, yellow, red, transparent, blue, transparent);
    opacity: .8
}

.navbar-icon {
    background: transparent;
}

.catContainer {
    position: relative;
}

.catImage {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.catMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.catContainer:hover .catImage {
    opacity: 0.3;
}

.catContainer:hover .catMiddle {
    opacity: 1;
}

.catText {
    background-color: transparent;
    color: green;
    padding: 16px 32px;
    font-weight: bolder !important;
    font-size: 2em !important;
}
#carousel-main {
    /*background: radial-gradient(circle, blue 5%, yellow 60%, transparent, red 25%, transparent);*/
    /*, turquoise, light yellow, red, yellow, blue, blue, yellow, red, blue, yellow, red, red, yellow, blue, blue, yellow, red);*/
    /*background: repeating-radial-gradient(yellow, transparent, blue, transparent, red, transparent);
    background: repeating-linear-gradient(80deg, blue, transparent, yellow, transparent, red, transparent);*/
    background: repeating-linear-gradient(20deg, yellow, transparent, lightyellow, lightyellow, yellow, transparent);
    color: darkblue;
    font-weight: 900;
    height:700px;
}

.fa i{
    font-size: large;
}

.filters a {
    /*font-weight: 400 !important;*/
    color: navy;
}

.badgeNumber {
    font-size: .75rem !important;
    background-color: floralwhite !important;
}

.nav-icon fa-fw {
    font-size: x-large;
  
}